/* Задание 1 */

.task-1 {
  align-items: center;
  text-align: center;
  padding: 25px;
}

.input-label {
  display: block;
}

.input-form input {
  width: 275px;
}

/* Задание 2 */

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal-content {
  width: 450px;
  height: 130px;
  align-items: center;
  text-align: center;
  background-color: paleturquoise;
  padding: 32px;
  z-index: 10;
}

.modal-content h2 {
  padding-bottom: 20px;
}

.modal-content button {
  width: 200px;
}

.task-2 {
  align-items: center;
  text-align: center;
  padding: 25px;
}

/* Задание 3 */

.task-3 {
  align-items: center;
  text-align: center;
  padding: 25px;
}

.ball {
  width: 60px;
  position: absolute;
  left: 737px;
  top: 520px;
  transition: 0.5s;
}

.field {
  z-index: -1;
}

/* Задание 4 */

.task-4 {
  align-items: center;
  text-align: center;
  padding: 25px;
}

.traffic_light span {
  height: 100px;
  width: 100px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  margin-inline: 10px;
}
.traffic_light {
  border: solid #333;
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  justify-self: center;
  background-color: #333;
}

.traffic_light-btn {
  margin-top: 20px;
  padding: 30px;
}

/* Задание 5 */

.task-5 h2 {
  align-items: center;
  text-align: center;
  padding: 25px;
}
.books-list {
  list-style-type: decimal;
}
